/* common */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {   
    background-color: rgb(255, 225, 126);
}

/* Heading */
h1 {
    color: white;
    text-align: center;
    font-size: 150px;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: url(../img/areyou.jpg) 30% 15%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media screen and (max-width:768px){
    h1{
        font-size: 90px;
    }
    h2{
        font-size: 24px;
    }
}
@media screen and (max-width:512px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 20px;
    }
}

/* Topbar */
.top{
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    top: -50px;
}
@media screen and (max-width:768px){
    .top{
        top: 15px;
    }
}
.mypic {
    width: 300px;
    margin-left: 140px;
    border: 15px solid rgb(109, 17, 17);
    border-radius: 1000px;
    z-index: 1;
}
@media screen and (max-width:768px){
    .mypic{
        width: 200px;
        height: 200px;
        margin-left: 40px;
    }
}
@media screen and (max-width:512px){
    .mypic{
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }
}
.topbar{
    font-family: 'Open Sans', sans-serif;
    align-self : center;
    padding: 30px 0px 30px 30px;
    font-size: 37px;
    background-color: rgb(109, 17, 17);
    border-radius: 80px;
    color: whitesmoke
}
@media screen and (max-width:768px){
    .topbar{
        font-size: 23px;
        align-self : flex-start;
        padding: 10px 0px 30px 5px;
    }
}
@media screen and (max-width:512px){
    .topbar{
        font-size: 18px;
        align-self : flex-start;
        padding: 10px 5px 0px 0px;
    }
}
.topbar a{
    padding: 30px 76px;
    text-decoration: none;
    color: whitesmoke;
}
@media screen and (max-width:768px){
    .topbar a{
        padding: 10px 20px;
    }
}
@media screen and (max-width:512px){
    .topbar a{
        padding: 8px 10px;
    }
}
.topbar a:hover{
    background-color: rgb(109, 17, 17);
    transition: 0.6s;
}
.assignment , .project{
    background-color: rgb(141, 23, 23);
}
.project{
    position: relative;
    left: -10px;
}


/* Personal Informs */
.info-bg{
    font-family: 'Open Sans', sans-serif;
    margin: -256px 50px 40px 50px;
    padding: 240px 100px 40px 40px;
    background-color:  rgb(109, 17, 17);
    height: auto;
    color: whitesmoke;
    border-radius: 80px;
}
@media screen and (max-width:768px){
    .info-bg{
        margin: -185px 40px 40px 40px;
        padding: 80px 40px 40px 40px;
    }
}
@media screen and (max-width:512px){
    .info-bg{
        margin: -137px 10px 10px 10px;
        padding: 80px 15px 15px 15px;
    }
}
.info{
    display: grid;
    grid-template-areas: "personal educate skill"
    "interest hobby skill";
    gap: 50px;
}
@media screen and (max-width:768px){
    .info{
        grid-template-areas: "personal educate educate"
        "interest hobby skill";
        gap: 10px;
    }
}
@media screen and (max-width:512px){
    .info{
        grid-template-areas: "personal hobby"
        "educate educate"
        "interest skill";
        gap: 10px;
    }
}
.personal{
    grid-area: "personal";
    border-right: 2px solid whitesmoke;
}
@media screen and (max-width:768px){
    .personal{
        border-right: none;
    }
}
.name{
    font-weight: bold;
    font-size: 25px;
}
@media screen and (max-width:768px){
    .name{
        font-size: 26px;
        position: relative;
        top: -20px;
        right: -190px;
    }
}
@media screen and (max-width:512px){
    .name{
        font-size: 20px;
        position: relative;
        top: -20px;
        right: -140px;
    }
}
p{
    font-size: 20px;
}
@media screen and (max-width:768px){
    p{
        font-size: 18px;
    }
}
.facebook , .ig{
    width:40px;
}
.ed{
    grid-area: educate;
    font-size: 20px;
}
@media screen and (max-width:768px){
    .ed{
        font-size: 18px;
        padding-left: 30px;
        margin-top: 120px;
        border-left: 2px solid whitesmoke;
    }
}
@media screen and (max-width:512px){
    .ed{
        font-size: 16px;
        margin-top: 0px;
        padding-left: 20px;
        border-left:none;
    }
}
.interest{
    grid-area: interest;
    padding-left: 20px;
    font-size: 20px;
    border-right: 2px solid whitesmoke;
}
@media screen and (max-width:768px){
    .interest{
        font-size: 18px;
        border-right: none;
    }
}
@media screen and (max-width:512px){
    .interest{
        font-size: 16px;
    }
}
.hobbies{
    grid-area: hobby;
    font-size: 20px;
}
@media screen and (max-width:768px){
    .hobbies{
        font-size: 18px;
        border-left: 2px solid whitesmoke;
        padding-left: 30px;
    }
}
@media screen and (max-width:512px){
    .hobbies{
        font-size: 16px;
        border-left: 2px solid whitesmoke;
        padding-left: 30px;
        margin-top: 70px;
    }
}
.skills{
    grid-area: skill;
    font-size: 20px;
    padding-left: 50px;
    border-left: 2px solid white;
}
@media screen and (max-width:768px){
    .skills{
        font-size: 18px;
        padding-left: 30px;
    }
}
@media screen and (max-width:512px){
    .skills{
        font-size: 16px;
    }
}

/* Assignments */
.task{
    background-color:rgb(109, 17, 17);
    border-radius: 80px;
    margin: 0px 50px 50px 50px;
    padding: 40px;

    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width:768px){
    .task{
        margin: 0px 40px 40px 40px;
        font-size: 40px;
    }
}
@media screen and (max-width:512px){
    .task{
        margin: 0px 10px 10px 10px;
        font-size: 30px;
    }
}
.as-grid{
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-areas: "as4 as5"
    "as6 as7";
    grid-column-gap: 120px;
    grid-row-gap:50px;
    column-gap: 120px;
    row-gap:50px;
    padding: 0px 100px;
}
@media screen and (max-width:768px){
    .as-grid{
        grid-column-gap: 50px;
        grid-row-gap:30px;
        column-gap: 50px;
        row-gap:30px;
        margin-top: 30px;
        padding: 0px 10px;
    }
}
@media screen and (max-width:512px){
    .as-grid{
        grid-column-gap: 25px;
        grid-row-gap:25px;
        column-gap: 25px;
        row-gap:25px;
        margin-top: 20px;
        padding: 0px 5px;
    }
}
.aspic{
    border-radius: 50px;
    width: 100%;
    box-shadow: 1px 1px 8px 4px rgb(63, 5, 5);
}
@media screen and (max-width:768px){
    .aspic{
        border-radius: 30px;
        width: 100%;
    }
}
@media screen and (max-width:512px){
    .aspic{
        border-radius: 20px;
        width: 100%;
    }
}
.aspic:hover{
    transform: translate(-2px,-6px);
    transition: 0.4s;
    box-shadow: 6px 8px 10px 10px rgb(82, 6, 6);
}
.aspic:active{
    transform: translate(4px,8px);
    box-shadow: 1px 1px 8px 4px rgb(63, 5, 5);
}

/* Button To Top */
.totop{
    position:fixed;
    right: 40px;
    bottom: 40px;
}
#butToTop ,#butToPort{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    font-size: 26px;
    font-weight: bold;
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    text-align: center;
    padding-top: 60px;
    box-shadow: 6px 6px 0px 0px rgb(201, 179, 108);
}
@media screen and (max-width:768px){
    #butToTop , #butToPort{
        width: 100px;
        height: 100px;
        font-size: 18px;
        padding-top: 40px;
    }
}
@media screen and (max-width:512px){
    #butToTop , #butToPort{
        width: 80px;
        height: 80px;
        font-size: 16px;
        padding-top: 30px;
    }
}
#butToTop:hover ,#butToPort:hover{
    background-color: rgb(34, 34, 34);
}
#butToTop:active,#butToPort:active{
    transform: translateY(2px);
    box-shadow: 4px 4px 0px 0px rgb(201, 179, 108);
}

/* Projects */
.myprojects{
    font-family: 'Open Sans', sans-serif;
    margin: 40px 50px;
    padding: 40px 60px;
    background-color:  rgb(109, 17, 17);
    height: auto;
    color: whitesmoke;
    border-radius: 80px;
}
@media screen and (max-width:768px){
    .myprojects{
        margin: 20px 40px;
        padding: 40px 40px;
    }
}
@media screen and (max-width:512px){
    .myprojects{
        margin: 20px 20px;
        padding: 20px 25px;
    }
}
.title{
    font-size: 50px;
    margin-bottom: 25px;
}
@media screen and (max-width:768px){
    .title{
        font-size: 30px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:512px){
    .title{
        font-size: 24px;
    }
}
.grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}
.sub-title{
    margin-left: 40px;
    font-size: 20px;
}
@media screen and (max-width:512px){
    .sub-title{
        margin-left: 20px;
        font-size: 18px;
    }
}

/* Programing */
.programpic{
    margin-top: 10px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 1px 1px 8px 3px rgb(63, 5, 5);
}
@media screen and (max-width:768px){
    .programpic{
        border-radius: 30px;
    }
}
.programpic:hover{
    transform: translate(-2px,-6px);
    transition: 0.4s;
    box-shadow: 6px 8px 10px 10px rgb(82, 6, 6);
}
.programpic:active{
    transform: translate(4px,8px);
    box-shadow: 1px 1px 8px 4px rgb(63, 5, 5);
}

/* Game */
.game{
    margin-top: 80px;
}
@media screen and (max-width:768px){
    .game{
        margin-top: 50px;
    }
}
.joji-section{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
@media screen and (max-width:768px){
    .joji-section{
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
}
.joji-jump{
    position:relative;
    top: -47px;
}
@media screen and (max-width:768px){
    .joji-walk{
        width: 45%;
    }
    .joji-jump{
        width: 45%;
        top: -30px;
    }
}

/* Button To Port */
.toport{
    position:fixed;
    right: 40px;
    bottom: 200px;
}
#butToPort{
    padding-top: 50px;
}
@media screen and (max-width:768px){
    .toport{
        bottom: 160px;
    }
    #butToPort{
        padding-top: 30px;
    }
}
@media screen and (max-width:512px){
    .toport{
        bottom: 135px;
    }
    #butToPort{
        padding-top: 25px;
    }
}